@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Noto Sans", sans-serif;
}

h1, h2, h3, h4, .gugi-font{
    font-family: "Gugi", sans-serif;
}   

header {
    background-image: linear-gradient(to top, rgba(0,0,0,0.8),rgba(0,0,0,0.2)), url(../images/main-bg.jpg);
    background-size: cover;
    background-position: center top;
    /* cover 가로세로 비율 꽉채운다 
    background-position 그림의 비율 /center

    백그라운드 화면 그라데이션 넣기
    linear-gradient(to top, rgba(0,0,0,0.8),rgba(0,0,0,0.2))
    */
}

#sns-links {
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),url(../images/sns-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.card-hover:hover {
    background-color: #ffc10726;
    cursor: pointer;
}

#news {
    background-image: linear-gradient(to top, rgba(0,0,0,0.8),rgba(0,0,0,0.2)), url(../images/news-bg.jpg);
    background-size: cover;
    background-position: center;
}

.nav-link:hover,
.nav-link.active {
    color: #ffc107 !important;
}

@media (min-width:768px) and (max-width:1024px){
    .text {
        font-size: 13px;
    }
}